<!DOCTYPE html>

<html lang="en" dir="ltr">

    <head>
        <meta charset="utf-8">    
        <title>Countdown Radio</title>
        <meta charset="utf-8">
        <link rel="icon" href="/images/favicon.ico">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/styles.css">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand">
                <img src="/images/Log_02.png" alt="CR_Logo">
            </a>
            <div>
              <ul class="navbar-nav">
                <li>
                  <a class="nav-link" href="/">Home</a>
                </li>
                <li>
                  <a class="nav-link" href="/album-reviews">Album Reviews</a>
                </li>
                <li>
                  <a class="nav-link" href="/song-of-the-week">Song of the Week</a>
                </li>
                <li>
                  <a class="nav-link" href="/top-20">Top 20</a>
                </li>                
              </ul>
            </div>
          </nav>
    </head>
          <body>
             
        
            

       
        
        
